$light-gray : #EEEEEE !default;
.browser-wrap {
	margin-bottom: 15px;
  border: 1px solid #ccc;
  &__header {
  	text-align: center;
  	padding: 10px 0 20px;
  }
  &__list-photo {
  	border-top: 1px solid #ccc;
    padding: 25px;
    &__wrap {

    }
  }
  &__footer {
  	background-color: $light-gray;
    width: 100%;
    text-align: right;
    padding: 3px 4px;
    margin-top: 25px;
    a {
    	color: #676767;
    }
  }
}

.photo-card {
	width: 291px;
  text-align: left;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 25px;
	&__top {

	}
	&__image {
		width: 291px;
		height: 225px;
    text-align: center;
    background-color: #eee;
		img {
			max-width: 291px;
    	max-height: 225px;
    	height: 100%;
		}
	}
	&__bottom {
		padding: 5px;

	}
	&__name {
		color: #676767;
    font-weight: bold;
	}
	&__location {
		color: #aaa;
    font-size: 11px;
	}
}