footer {
  background: #404040;
  min-height: 280px;
  color: #ffffff;
  padding-top: 40px;
  font-family: ProximaNovaRegular;
  min-width: 1036px;
  .content {
    .card {
      font-size: 12px;

      strong {
        color: #a6a6a6;
        border-top: 1px solid #808080;
        display: block;
        padding: 8px 0 4px;
      }

      p {
        font-style: italic;
        color: #808080;
        padding-bottom: 7px;
        letter-spacing: 0.1px;

        .link {
          a {
            color: #1eab9c;
          }
        }
      }

      ul {
        margin-left: 0;
        li {
          padding-left: 0;
          a {
            font-size: 10px;
            color: #1eab9c !important;
          }
        }
      }

      img {
        width: 45%;
      }
    }

    .socials {
      margin-top: 120px;
      color: #808080;
      font-size: 10px;
      padding-bottom: 20px;

      ul {
        margin-left: 0;
        li {
          a {
            color: #808080;
            text-transform: uppercase;
            padding-right: 7px;
            border-right: 1px solid #808080;
            &:hover {
              color: #1fb8a8;
            }
          }
          &:last-child {
            a {
              border-right: initial;
            }
          }
        }
      }

    }
  }
}