/* Over-right bootstrap*/
.container {
  width: 1036px;
}

.container-fluid {
  padding: 0;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar-collapse {
  margin-right: 0 !important;
  margin-left: 0 !important;
  display: block !important;
  height: auto !important;
  padding-bottom: 0 !important;
  overflow: visible !important;
  border-top: 0 !important;
  box-shadow: none !important;
}

.navbar-right {
  float: right !important;
  margin: 0;
}

.navbar-nav {
  float: left;
  margin: 0;
  li {
    float: left;
    position: relative;
    display: block;
  }
}
/* Styles */
header {
  .logo {
    float: left;
    margin-top: 36px;
  }
  .nav-main {
    nav {
      padding: 31px 0 0 180px;
    }
    .navbar-nav {
      li {
        a {
          font-size: 0.9em;
          color: #676767;
          font-family: ProximaNovaLight;
        }
        .list-business {
          background-color: #333333;
          color: #fff;
          border-radius: 3.6px;
          padding: 2px 10px;
          margin-top: 12px;
        }
      }
    }
  }
}

.search {
  position: relative;
  .search-image {
    img {
      background: no-repeat center;
      background-size: contain;
      width: 100%;
      height: 290px;
    }
  }

  .search-text {
    line-height: 58px;
    color: #fff;
    font-size: 50px;
   /* position: relative;
    top: -150px;
    left: 50px;*/
    position: absolute;
    top: 95px;
    left: 35px;
    width: 856px;
    font-family: "bentonsansthin";
    p {
      font-size: 15px;
      line-height: 1.6em;
      color: #ffffff;
      font-family: "bentonsansregular";
    }
  }

  .search-form {
    background: #eef5f5;
    height: 125px;
    padding: 30px 0 0 30px;
    select.input-search {
      margin-left: 3px;
    }
    .input-search {
      padding-left: 8px;
      font-size: 14px;
      border: 1px solid #E1E1E1;
      background-color: #fff;
      height: 32px;
      color: #777;
      &.max-width {
       width: 21%;
      }
      &.min-width {
       width: 21%;
      }
    }
    .input-search:nth-child(2) {
      margin-left: -1px;
    }
  }

  .popular {
    margin-top: 17px;
    label {
      float: left;
      margin-right: 10px;
    }
  }
}

#nav-search-form {
  margin-top: 4px;
  line-height: 1em;
  color: #676767;
  font-size: 11px;

  input {
    padding-left: 6px;
    font-family: 'ProximaNovaRegular';
    background: url('../images/icon.png') no-repeat -120px 0px;
    border: initial;
    height: 24px;
    width: 160px;
  }

  button {
    height: 25px;
    width: 25px;
    background: url('../images/icon.png') no-repeat 0px 0px;
    padding: 0;
    white-space: normal;
    border: 0 none;
    position: relative;
    top: 9px;
    left: -4px;
  }
}