.dropdown-menu {
 padding: 0;
}
.main-content {
 	padding: 0 5px 50px 5px;
}

/* Right col */
.career {
	margin-top: 40px;
	margin-bottom: 40px;
	border-top: 1px solid #E9ECEB;
	border-bottom: 1px solid #E9ECEB;
	padding: 30px 0;
	text-align: center;
	margin-left: 16px;
	
	.career-maintext {
	 font-size: 14px;
	 font-family: "bentonsansbold";
	}

	.career-subtext {
	 margin-bottom: 20px;
	}

	button {
		font-family: "bentonsansbold";
	}
}

.career-bottom {
 float: right;
}

/* Left col */
.location {
	margin-top: 40px;
	label {
		color: #545454;
    font-size: 14px;
    margin-right: 12px;
    vertical-align: sub;
    font-family: "bentonsansbold";
    text-transform: uppercase;
	}
}

.box {
	margin-top: 20px;
	width: 30%;
	float: left;
	margin-right: 20px;
	img {
	 width: 100%
	}
	.stylis-name {
	 font-size: 16px;
	 font-family: "bentonsansbold";
	 color: #3d829b;
	 margin-top: 5px;
	}
}


.callout {
 margin-top: 30px;
 padding: 30px 0;
 text-align: center;
 border-top: 1px solid #E9ECEB;
 border-bottom: 1px solid #E9ECEB;

 .callout-main {
	 font-size: 34px;
	 text-align: center;
	 font-family: "bentonsansthin";
	}

	.callout-subtext {
	 font-size: 18px;
	 font-family: "bentonsansbold"; 
	 margin: 10px 0 20px 0;
	}
}

.brand-bottom .text, .brand-top .text {
	margin: 30px 0 20px 0;
	text-align: center;
	font-size: 14px;
  text-transform: uppercase;
  font-family: "bentonsansbold";
}
.brand-top {
	border-bottom: 1px solid #E9ECEB;
	padding-bottom: 30px;
	
	a {
		display: inline-block;
		margin: 0 20px;
	}

	a:first-child, a:last-child {
		margin: 0;
	}

	.brand-top-row1 {
		.huffpost {
			width: 227px;
	    height: 20px;
	    background: url("../images/brand_images.png") -14px -294px;
	    &:hover {
	    	background: url("../images/brand_images.png") -14px -242px;;
	    }
		}
		.business {
			width: 84px;
	    height: 37px;
	    background: url("../images/brand_images.png") -258px -52px;
	    &:hover {
	    	background: url("../images/brand_images.png") -258px -7px;
	    };
		}
		.cosmopal {
			width: 198px;
    	height: 37px;
	    background: url("../images/brand_images.png") -354px -52px;
	    &:hover {
	    	background: url("../images/brand_images.png") -354px -7px;
	    };
		}
		.fc {
			width: 40px;
    	height: 36px;
	    background: url("../images/brand_images.png") -268px -283px;
	    &:hover {
	    	background: url("../images/brand_images.png") -268px -233px;
	    };
		}
	}
	.brand-top-row2 {
		.instyle {
			width: 133px;
  		height: 36px;
	    background: url("../images/brand_images.png") -504px -287px;
	    &:hover {
	    	background: url("../images/brand_images.png") -504px -238px;
	    };
		}
		.sfgate {
			width: 122px;
    	height: 27px;
	    background: url("../images/brand_images.png") -345px -287px;
	    &:hover {
	    	background: url("../images/brand_images.png") -345px -237px;
	    };
		}
		.salon {
			width: 88px;
    	height: 38px;
	    background: url("../images/brand_images.png") -295px -166px;
	    &:hover {
	    	background: url("../images/brand_images.png") -295px -104px;
	    };
		}
		.shape {
			width: 70px;
    	height: 38px;
	    background: url("../images/brand_images.png") -406px -166px;
	    &:hover {
	    	background: url("../images/brand_images.png") -406px -104px;
	    };
		}
		.forbes {
			width: 114px;
    	height: 32px;
	    background: url("../images/brand_images.png") -15px -396px;
	    &:hover {
	    	background: url("../images/brand_images.png") -15px -340px;
	    };
		}
	}
}

.brand-bottom {
	text-align: center;
 	margin: 0 0 30px 0;
 	img {
 		width: 100%;
 	}

 	button {
 		margin-top: 30px;
 	}
}



