$aqua-color: #3EC9C1;
.search {
  .search-form-background {
    background-color: #2a3842;
  }
  .search-popular {
    label {
      font-size: 14px;
      color: #e9eceb;
    }
    a {
      color: #a1c9d6;
    }
  }
}

.search-filter {
  clear: both;
  color: #4d4d4d;
  padding: 15px 0 14px 25px;
  background-color: #FAFAFA;
  margin-bottom: 26px;
  border-bottom: 1px solid #d3d3d3;

  .search-filter-card {
    padding-top: 3px;

    input[type="checkbox"] {
      margin-top: 6px;
    }

    .booking {
      img {
        margin-top: -6px;
      }
    }

    .expresspay {
      &:after {
        content: "\00c5";
        font-family: styleseatregular;
        font-size: 17px;
        position: absolute;
        top: 2px;
        right: 55px;
      };
    }
  }

  select {
    background-color: white;
    border: solid 1px #ccc;
    color: #888;
  }

  .search-dropdown-selector {
    width: 135px;
  }


  label {
    font-size: 14px;
    font-weight: normal;
    padding: 0 4px;
  }
}

.search-page {
  margin-bottom: 20px;
  .list-stores {
    padding: 20px 20px 40px 20px;
    border-bottom: 1px dashed #C8C8C8;
    &:last-child {
      border-bottom: initial;
    }

    .stores-info {
      margin-left: 10px;
      .name {
        h5 {
          margin: 0;
          color: #1EA697;
          font-size: 22px;
          text-transform: capitalize;
        }
        span {
          color: #626262;
          font-size: 12px;
          width: 100%;
          margin-bottom: 5px;
          font-family: 'ProximaNovaRegular', Arial, sans-serif
        }
      }
      .sign {
        font-size: 11px;
        line-height: 12px;
        margin-top: 20px;

        p {
          color: #626262;
          font-size: 11px;
          line-height: 12px;
          margin-bottom: 0;
        }

        .view-map {
          a {
          color: #1EA697;
          }
        }
      }
    }

    .recommendation {
      border-left: 1px solid #909090;
      min-height: 100px;
      padding-right: 0;
      padding-top: 3px;
      @extend .recommend-group;
    }
  }
}

.angular-google-map-container {
  height: 300px;
}

.map {
  position: relative;
  &__maker {
    position: absolute;
    top: 106px;
    width: 270px;
    height: 114px;
    border: 5px solid #B1B1B1;
    padding: 2px;
    left: -250px;
    background-color :white;
    z-index: 1;
  }
  &__maker__avatar {
    float: left;
    img {
      margin-right: 5px;
      height: 100px;
      width: 100px;
    }
  }
  &__maker__name {
    color: $aqua-color;
    font-size: 15px;

  }
  &__maker__location {
    font-size: 12px;
  }
  &__maker__recommend {
    margin-top: 20px;
    @extend .recommend-group
  }
}

.group-input {
  display: table;
  padding-top: 5px;
  &__cell {
    display: table-cell;
    vertical-align: middle;
    margin-top: 0;
    input {
      margin-top: 0 !important;
      vertical-align: middle;
    }
    label {
      margin-bottom: 0;
    }
  }
}