$footer-text-color : #5F6266;
.login-wrap {
  background-color: #f2f4f5;
  a {
    text-decoration: underline;
  }
  .login-wrap-cover {
    background: url('../images/login-background.jpg') no-repeat center center;
    padding-top: 50px;
    background-size: cover;
    padding-bottom: 250px;
  }
  text-align: center;
  &__logo {
    color : white;
    width: 200px;
  }
  &__form {
    width: 650px;
    margin: -200px auto 0;
    background-color: white;
    border-top: 7px solid #3ec9c1;
    padding: 0 95px;
    &__top {
      padding: 60px 0;
      font-size: 24px;
    }
    &__input {
      input {
        border-radius: 0;
      }
      margin-bottom: 15px;
      .col-md-6 {
        padding: 0 5px;
      }
      .col-md-12 {
        padding: 0 5px;
      }
    }
    &__info {
      padding-bottom: 35px;
      font-size: 15px;
    }
    &__question {
      font-size: 25px;
      padding-bottom: 15px;
    }
    &__login-in {
      font-size: 17px;
      margin-bottom: 40px;
      display: block;
    }
    &__brand {
      &--title {
        color: #C3C7C8;
        font-size: 17px;
        font-weight: bolder;
        margin-bottom: 20px;
      }
      img {
        width: 100%;
      }
      padding-bottom: 50px;
    }
  }
  .btn-signup-large {
    background-color: #2a3842;
    width: 100%;
    height: 78px;
    text-align: middle;
    padding: 25px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 35px;
    text-decoration: none;
  }
}

.login-footer {
  text-align: center;
  min-height: 0;
  padding-bottom: 60px;
  color: $footer-text-color;
  background-color : #2A2E33;

  ul {
    li {
      display: inline-block;
      a {
        border-right: 1px solid $footer-text-color;
        padding-right: 5px;
        text-decoration: underline;
      }
      &:last-child {
        a:last-child {
          border-right: none;
        }
      }
    }
  }
  &__rights {
   font-size : 13px;
   
  }
  &__logo {
    margin-top: 50px;
    margin-bottom: 10px;
    img {
      width: 95px;
    }
  }
}