<div class="modal_wrap no-padding image-preview" play-image>
  <button type="button" class="close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
  <div class="modal_wrap__large-image">
    <a href="" class="left-button" ng-click="changeImage('left')">
      <i class="nav-btn"></i>
    </a>
    <a href="" class="right-button" ng-click="changeImage('right')">
      <i class="nav-btn"></i>
    </a>
    <div class="modal_wrap__large-image--helper">
      <img ng-src="{{image}}" id="displayImage" />
    </div>
  </div>
  <div class="modal_wrap__right-panel">
    <div class="modal_wrap__right-panel__top">
      <div class="modal_wrap__right-panel--avatar">
        <img ng-src="{{user.avatar}}"></img>
      </div>
      <div class="modal_wrap__right-panel__info">
        <div class="modal_wrap__right-panel__info__name">
          {{user.name}}
        </div>
        <div class="modal_wrap__right-panel__info__date">
          October 15, 2015
        </div>
      </div>
    </div>
    <div class="modal_wrap__right-panel__description">
      The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
    </div> 
  </div>
</div>
