<footer>
  <div class="container">
    <div class="content">
      <div class="row card">
        <div class="col-md-7 col-sm-7 col-xs-7">
          <strong>ABOUT</strong>
          <p>
          StyleSeat is the online destination for beauty & wellness professionals and clients. Professionals can showcase their work, connect with new and existing clients, and build their business. Clients can discover new services and providers, book appointments online, and get inspired. <span class=
          "link"><a href="#">learn more »</a></span>
          </p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
          <strong>MEDIA</strong>
          <ul class="list-inline">
            <li><a href="#">Beauty Blog</a></li>
            <li>|</li>
            <li><a href="#">Press</a></li>
            <li>|</li>
            <li><a href="#">Stories</a></li>
            <li>|</li>
            <li><a href="#">Videos</a></li>
          </ul>
        </div>
      </div>

      <div class="row card">
        <div class="col-md-7 col-sm-7 col-xs-7">
          <strong>FEATURED CITIES</strong>
          <ul class="list-inline">
            <li><a href="#">San Francisco, CA</a></li>
            <li>|</li>
            <li><a href="#">New York, NY</a></li>
            <li>|</li>
            <li><a href="#">Dallas, TX</a></li>
            <li>|</li>
            <li><a href="#">Atlanta, GA</a></li>
            <li><a href="#">San Francisco, CA</a></li>
            <li>|</li>
            <li><a href="#">New York, NY</a></li>
            <li>|</li>
            <li><a href="#">Dallas, TX</a></li>
            <li>|</li>
            <li><a href="#">Atlanta, GA</a></li>
            <li><a href="#">San Francisco, CA</a></li>
            <li>|</li>
            <li><a href="#">New York, NY</a></li>
            <li>|</li>
            <li><a href="#">Dallas, TX</a></li>
            <li>|</li>
            <li><a href="#">Atlanta, GA</a></li>
            <li><a href="#">San Francisco, CA</a></li>
            <li>|</li>
            <li><a href="#">New York, NY</a></li>
            <li>|</li>
            <li><a href="#">Dallas, TX</a></li>
            <li>|</li>
            <li><a href="#">Atlanta, GA</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
          <strong>TALK TO US</strong>
          <ul class="list-unstyled">
            <li><a href="#">info@styleseat.com</a></li>
            <li><a href="#">StyleSeat Help Center</a></li>
          </ul>
        </div>
      </div>

      <div class="row card">
        <div class="col-md-3 col-md-offset-7 col-sm-offset-7 col-xs-offset-7 col-sm-3 col-xs-3">
          <a class="logo-mobile" href="#">
            <img src="images/app_store.png">
          </a>

          <a class="logo-mobile" href="#">
            <img src="images/google_play.png">
          </a>
        </div>
      </div>

      <div class="row socials">
        <ul class="list-inline">
          <li>© 2015 StyleSeat, Inc. All rights reserved.</li>
          <li><a href="#">Find professionals</a></li>
          <li><a href="#">Get listed</a></li>
          <li><a href="#">Team</a></li>
          <li><a href="#">Jobs</a></li>
          <li><a href="#">Terms</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Google+</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>