<div class="search">
  <div class="search-image">
    <img src="images/background_top.jpg">
  </div>
  <div class="search-text">
    Find and book beauty and wellness professionals near you
  </div>
  <div class="search-form">
    <form name="search">
      <input class="input-search max-width" placeholder="Service, professional, or salon" ng-model="service">
      <input class="input-search max-width" placeholder="City, state, or zip" ng-model="city">
      <input type="text" placeholder="Any date" class="input-search min-width" uib-datepicker-popup ng-model="date" is-open="isOpen" show-button-bar="false" datepicker-options="dateOptions" ng-required="true" ng-click="isOpen = true" show-weeks="false"/>
      <select class="input-search min-width" ng-modal="time">
        <option val="">Any time</option>
        <option val="Morning">Morning</option>
        <option val="Afternoon">Afternoon</option>
        <option val="Evening">Evening</option>
      </select>
      <input type="submit" class="default-btn aqua" value="Search" ng-click="search()" ui-sref="search">
    </form>

    <div class="popular">
      <label>Popular</label>
      <ul class="list-inline pull-left">
        <li><a href="#">Hair Cut</a></li>
        <li><a href="#">Style</a></li>
        <li><a href="#">Barber</a></li>
        <li><a href="#">Braids</a></li>
        <li><a href="#">Weaves & Extensions</a></li>
        <li><a href="#">Nails</a></li>
        <li><a href="#">Make up</a></li>
        <li><a href="#">Color</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row main-content">
  <div class="col-md-8 col-sm-8 col-xs-8">
    <div class="location">
      <label for="loc">Professionals featured in</label>
      <select id="loc">                 
        <option value="{{$index + 1}}" ng-repeat="loc in location">{{loc}}</option>
      </select>
    </div>
    <div class="list-stylis row">
      <div class="box" ng-repeat="user in people track by $index" ui-sref="stylis">
        <a><img ng-src="{{user.photo}}"></a>
        <div class="stylis-name">{{user.name}}</div>
        <div class="stylis">{{user.stylis}}</div>
      </div>
    </div>

    <div class="callout row">
      <div class="callout-main">Are you a beauty professional?</div>
      <div class="callout-subtext">StyleSeat is free!</div>
      <button class="default-btn big-btn aqua">sign up</button>
    </div>

    <div class="brand-top row">
      <div class="text">AS SEEN IN</div>
      <div class="brand-top-row1">
        <a href="#"><div class="huffpost"></div></a>
        <a href="#"><div class="business"></div></a>
        <a href="#"><div class="cosmopal"></div></a>
        <a href="#"><div class="fc"></div></a>
      </div>
      <div class="brand-top-row2">
        <a href="#"><div class="instyle"></div></a>
        <a href="#"><div class="sfgate"></div></a>
        <a href="#"><div class="salon"></div></a>
        <a href="#"><div class="shape"></div></a>
        <a href="#"><div class="forbes"></div></a>
      </div>
    </div>

    <div class="brand-bottom row">
      <div class="text">PROFESSIONALS: FIND OUT HOW TO SELL THESE TOP BRANDS!</div>
      <img src="./images/brands_desktop.png">
      <button class="default-btn big-btn aqua">learn more</button>
    </div>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-4">
    <div class="career">
      <div class="career-maintext">Empowering 320,000+ small businesses</div>
      <div class="career-subtext">$1+ billion in appointments served</div>
      <button class="default-btn big-btn gray">view careers</button>
    </div>
    <div class="career-bottom">
      <a href="#"><img src="images/summer_is_calling.jpg"/></a>
    </div>
  </div>
</div>

