<div class="wrap_stylis">
	<div id="breadcrumbs">
	  <span class="wrap-bread">
			<span>
	      <a href="#">
	      	<span itemprop="title">San Francisco, CA</span>  &gt;
	      </a>
	    </span>
	    <span >
	      <a href="#" class="inlineblock">
	      	<span itemprop="title">Salon Mio Mio</span>  &gt;
	      </a>
	    </span>
	    <span>
	        <a href="#">
	        	<span itemprop="title">Color</span></a>  &gt;
	    </span>
			<span>Gilbert Pickett</span>
		</span>
	</div>

	<div class="row stylis-page">
		<div class="col-md-3 col-sm-3 col-xs-3">
			<div class="avatar">
				<img src="https://d220aniogakg8b.cloudfront.net/static/uploads/2015/02/11/91c07b76-9e1_2098316_183x183.jpg"></img>
			</div>
			<div class="contact" ng-init="showContactInfo = false">
				<a href="" ng-click="messageMe()">Message Me</a>
				<a href="" ng-click="showContactInfo = true">Contact Info</a>
			</div>
			<div ng-show="showContactInfo" class="contact contact-info">
				421 Bush River Rd.Unit 169<br/>
				Columbia, SC, 29210<br/>
				803-948-9805
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-6">
			<div class="user-info">
				<h1>Gilbert Pickett</h1>
				<div class="stylis"> STYLIS | SALON MIO MIO</div>
				<div class="info-stat">
					<span class="recommend">
						<a href="#" class="default-btn aqua">Recommend</a>
						<span class="recommend-stat">88</span>
					</span>
					<span class="heart"><span class="heart-icon"></span>359</span>
					<span class="medal">PREMIUM</span>
				</div>
				<div class="special">Specialty: Color</div>
				<div class="user-info-detail">
					<p>It's simple, I believe what makes a great hairstylist is a person who listens, inspires and creates.   We are all drawn to beautiful things and one thing I love about my job is that I get to create beautiful things all day long...How great is that?  I get to see happy people strut out my door with big smiles, looking sexy, sassy and self-confident.  I can't describe what a great feeling that is for me to see what happens to a person on the inside by transforming their outside. <br>Again it's simple..I want to listen to, inspire and create something special for you.</p>
					<p>Thank you,<br>Gilbert<br>Owner of Salon Mio Mio</p>
				</div>
			</div>
		</div>
		<div class="col-md-3 float-right col-sm-3 col-xs-3">
			<button class="default-btn big-btn aqua book-me">BOOK ME</button>
		</div>
	</div>
	<div class="row">
		<div class="gallery-separator"></div>
		<div class="gallery">

			<slick infinite="true" slides-to-show="5" slides-to-scroll="5">
	  		<div ng-repeat="image in images track by $index">
	  			<div class="carol-img">
	  				<a href="" ng-click="openImage($index)"><img ng-src="{{image}}"></img></a>
	  			</div>
	  		</div>
			</slick>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9 wrap-content-stylis width70 col-sm-9 col-xs-9">
			<div class="head-title">
				<span class="head-text">Book an Appointment</span>
			</div>

			<!-- IMPORTANT NOTICES -->
			<div class="book-content">
				<div class="important-notices">
					<div class="book-text">IMPORTANT NOTICES</div>
					<div class="important-content row" ng-repeat="nottice in notices">
						<div class="col-md-6 col-sm-6 col-xs-6">
							<div class="content-info">{{nottice.info}}</div>
							<div class="content-detail">{{nottice.detail}}</div>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-2 price">{{nottice.price}}</div>
						<div class="col-md-2 col-sm-2 col-xs-2 time">{{nottice.time}}</div>
						<div class="col-md-2 col-sm-2 col-xs-2"><a href="" class="default-btn aqua content-detail-btn" ng-click="requestApointment()">Request</a></div>
					</div>
				</div>
			</div>

			<!-- COLOR AND HAIRCUTS COMBINED -->
			<div class="book-content">
				<div class="important-notices">
					<div class="book-text">COLOR AND HAIRCUTS COMBINED</div>
					<div class="important-content row" ng-repeat="book in books">
						<div class="col-md-6 col-sm-6 col-xs-6">
							<div class="content-info">{{book.info}}</div>
							<div class="content-detail">{{book.detail}}</div>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-2 price">{{book.price}}</div>
						<div class="col-md-2 col-sm-2 col-xs-2 time">{{book.time}}</div>
						<div class="col-md-2 col-sm-2 col-xs-2 "><a href="#" class="default-btn aqua content-detail-btn">book me</a></div>
					</div>
				</div>
			</div>

			<!-- COLOR SERVICE -->
			<div class="book-content">
				<div class="important-notices">
					<div class="book-text">COLOR SERVICES</div>
					<div class="important-content row" ng-repeat="colorService in colorServices">
						<div class="col-md-6 col-sm-6 col-xs-6">
							<div class="content-info">{{colorService.info}}</div>
							<div class="content-detail">{{colorService.detail}}</div>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-2 price">{{colorService.price}}</div>
						<div class="col-md-2 col-sm-2 col-xs-2 time">{{colorService.time}}</div>
						<div class="col-md-2 col-sm-2 col-xs-2 "><a href="#" class="default-btn aqua content-detail-btn">book me</a></div>
					</div>
				</div>
			</div>

			<div class="head-title">
				<span class="head-text">88 Verified Recommendations</span>
				<div class="head-title__btn" ng-click="writeRecommend()">
					<span class="head-title__btn--icon"></span>
          <a class="head-title__btn--link" href="#">Write a Recommendation</a>
				</div>
			</div>

			<div class="recommend">
				<div class="wrap-recommend" ng-repeat="recommend in recommends">
					<div class="recommend-info">
						<div class="recommend-name">{{recommend.name}}</div>
						<div class="recommend-date">{{recommend.date}}</div>
					</div>
					<div class="recommend-content">{{recommend.content}}</div>
				</div>

				<a href="#" class="more-recommend">More Recommendations »</a>
			</div>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-3 wrap-content-stylis left-side">
			<div class="head-title">
				<span class="head-text">Contact Details</span>
			</div>

			<div class="usr-addess margin20">Salon Mio Mio</div>
			<div class="usr-contact margin20" ng-init="showContact = false" ng-hide="showContact" ng-click="showContact = true">View Contact Info</div>
			<div class="address-contact" ng-show="showContact">
				<ul>
					<li>421 Bush River Rd.Unit 169</li>
					<li>Columbia, SC, 29210</li>
					<li>803-948-9805</li>
				</ul>
			</div>

			<div id="map">
				<ui-gmap-google-map center='map.center' zoom='map.zoom' options="options">
					<ui-gmap-marker coords="marker.coords" options="marker.options" idkey="marker.id">
        	</ui-gmap-marker>
				</ui-gmap-google-map>
			</div>

			<div class="head-title">
				<span class="head-text">Business Hours</span>
			</div>

			<div class="bus-hour margin20">
				<div class="bus-hour--left">
					<p>Tuesday</p>
					<p>Wednesday</p>
					<p>Friday</p>
					<p>Saturday</p>
				</div>
				<div class="bus-hour--right">
					<p>12:30pm	—	7:00pm</p>
					<p>11:00am	—	6:00pm</p>
					<p>11:00am	—	6:00pm</p>
					<p>10:00am	—	5:00pm</p>
				</div>
			</div>

			<div class="head-title">
				<span class="head-text">Other Links</span>
			</div>

			<div class="usr-contact margin20">My Website</div>
		</div>
	</div>
</div>